## US Treasury rates

Here we use the Quandl package to get US Treasury data and plot a yield curve. 

For the Black Scholes problem we will just take today's 1 year rate.

In [5]:
#Importing US Treasury rates and choosing 1 year return for use in BS

import quandl as qd #Quandl for downloading financial data
import pandas as pd #Pandas for access to dataframes
import numpy as np #Numpy for access to arrays and vectorization of calculaitons
qd.ApiConfig.api_key = "eJTGZLMXt9Azs7g2pixy"
usbond=qd.get("USTREASURY/YIELD")
usbond

,1 MO,2 MO,3 MO,6 MO,1 YR,2 YR,3 YR,5 YR,7 YR,10 YR,20 YR,30 YR
Date,,,,,,,,,,,,
1990-01-02,NaN,NaN,7.83,7.89,7.81,7.87,7.90,7.87,7.98,7.94,NaN,8.00
1990-01-03,NaN,NaN,7.89,7.94,7.85,7.94,7.96,7.92,8.04,7.99,NaN,8.04
1990-01-04,NaN,NaN,7.84,7.90,7.82,7.92,7.93,7.91,8.02,7.98,NaN,8.04
1990-01-05,NaN,NaN,7.79,7.85,7.79,7.90,7.94,7.92,8.03,7.99,NaN,8.06
1990-01-08,NaN,NaN,7.79,7.88,7.81,7.90,7.95,7.92,8.05,8.02,NaN,8.09
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-15,0.09,0.10,0.11,0.12,0.13,0.14,0.16,0.27,0.46,0.68,1.21,1.43
2020-09-16,0.08,0.11,0.12,0.12,0.12,0.14,0.16,0.28,0.47,0.69,1.23,1.45
2020-09-17,0.09,0.09,0.09,0.11,0.12,0.13,0.16,0.28,0.47,0.69,1.22,1.43
2020-09-18,0.09,0.10,0.10,0.12,0.13,0.14,0.16,0.29,0.48,0.70,1.24,1.45
2020-09-21,0.09,0.10,0.10,0.11,0.12,0.14,0.16,0.27,0.46,0.68,1.22,1.43

In [11]:
today = usbond.iloc[-1,:]
today.plot(title='Treasury Yield Curve, %')
today

1 MO     0.09
2 MO     0.10
3 MO     0.10
6 MO     0.11
1 YR     0.12
2 YR     0.14
3 YR     0.16
5 YR     0.27
7 YR     0.46
10 YR    0.68
20 YR    1.22
30 YR    1.43
Name: 2020-09-21 00:00:00, dtype: float64

In [12]:
rate=today["1 YR"]
print(rate)

0.12